#ActviaVentana{
    display: none;
}

#AbreModal{
    display: block;
    cursor: pointer;
    position: fixed;
    width: 120px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: rgba(255, 166, 0, 0.555);
    color: rgb(0, 0, 12);
    font-family: arial;
    font-size:20px ;
}

.VentModal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: -300%;
    left: 0px;
    background-color:rgb(255, 255, 255) ;
    -webkit-transition: all 1s;
}

#ActviaVentana:checked ~ .VentModal{
    top: 0%;
}

#CierraModal{
    color: rgba(0,0,0);
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 30px;
}

#contenidomodal{
    font-size: 40px;
    color: black;
}

.folio a {
    display: block;
    width: auto;
    height: 20px;
     font-size: 12px;
}

.folio a:hover {
    padding-right: 10px;
    cursor: grab;
}